html {
  width: 100vw;
  height: 100vh;
  color: rgb(214, 209, 203);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background-image: url("../public/assets/StarWarsDarth.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 20px;
  
 color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list {
  color: white;
  list-style: none;
}

.names {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

button {
  margin: 0.5%;
  border-radius: 10%;
  font-size: 20px;
  background-color: black;
  color: whitesmoke;
}



.character-div {
  display: flex;
  margin-top: 5%;
}

.character-info {
  position: relative;
  margin-left: 15%;
  
  
}